<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KapaLinga - Hot Air Balloon Fiesta</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="max-w-md mx-auto p-4">
        <a href="https://kapalinga-web-app.vercel.app/events/eventFestival">
            <button class="text-gray-800 text-3xl">
                <span class="material-icons">arrow_back</span>
            </button>
        </a>
        <h1 class="text-center text-xl font-bold text-orange-500">KapaLinga</h1>
        
        <div class="bg-white shadow-md rounded-2xl p-4 mt-4">
            <img src="/static/images/event/Discoveries/Pampanga-food-culinary-capital-1-min.jpg" alt="Sinukwan Festival" class="rounded-xl w-full h-60 object-cover">
            
            <div class="mt-4">
                <h1 class="text-lg font-bold">Culinary Capital of the Philippines (Pampanga)</h1>
               
                
                <h3 class="mt-3 font-semibold">Description</h3>
                <p class="text-gray-700 text-sm mt-2">
                    Pampanga is known as the Culinary Capital of the Philippines due to its rich culinary heritage, which blends indigenous flavors with Spanish influences introduced during colonization. The province is renowned for iconic dishes such as sisig, tocino, and bringhe, reflecting its unique gastronomic identity. Kapampangans' deep-rooted passion for cooking has been passed down through generations, solidifying the province's reputation in Filipino gastronomy. This culinary prominence was officially recognized in December 2024 when the Philippine Senate declared Pampanga as the country's Culinary Capital.
                </p>
            </div>
        </div>
    </div>
</body>
</html>