<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KapaLinga - Hot Air Balloon Fiesta</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="max-w-md mx-auto p-4">
        <a href="https://kapalinga-web-app.vercel.app/events/eventFestival">
            <button class="text-gray-800 text-3xl">
                <span class="material-icons">arrow_back</span>
            </button>
        </a>
        <h1 class="text-center text-xl font-bold text-orange-500">KapaLinga</h1>
        
        <div class="bg-white shadow-md rounded-2xl p-4 mt-4">
            <img src="/static/images/event/food_and_delicacies/sizzling-sisig.jpg" alt="Sinukwan Festival" class="rounded-xl w-full h-60 object-cover">
            
            <div class="mt-4">
                <h2 class="text-lg font-bold">Pampanga’s Sisig</h2>
                <p class="text-gray-500 text-sm flex items-center">
                    Pampanga’s Delicacies
                </p>
                
                <h3 class="mt-3 font-semibold">Description</h3>
                <p class="text-gray-700 text-sm mt-2">
                    Pampanga’s sisig is a legendary Filipino dish renowned for its bold, tangy, and savory flavors.
                    Made from chopped pig’s face, ears, and liver, it is grilled, boiled, and sautéed to perfection, then seasoned with calamansi juice, chili, and onions.
                    Often served sizzling on a hot plate, it boasts a crispy, smoky texture with a hint of zest and spice. As a staple of Kapampangan cuisine,
                    Pampanga’s sisig is celebrated for its rich flavor and is a favorite dish paired with steamed rice or enjoyed as pulutan (bar food).


                </p>
            </div>
        </div>
    </div>
</body>
</html>