<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KapaLinga - Hot Air Balloon Fiesta</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="max-w-md mx-auto p-4  pt-20">
       

        <div class="fixed top-0 left-0 w-full ">
            <div class="flex items-center p-4 ">
                <a href="https://kapalinga-web-app.vercel.app/events/eventFestival">
                    <button class="text-gray-800 text-3xl">
                        <span class="material-icons">arrow_back</span>
                    </button>
                </a>
                <div class="flex-grow text-center text-orange-500 text-xl font-bold">KapaLinga</div>
            </div>
        </div>
        
        <div class="bg-white shadow-md rounded-2xl p-4 mt-4">
            <img src="/static/images/306x304_inside/Sinukwan.png" alt="Sinukwan Festival" class="rounded-xl w-full h-60 object-cover">
            
            <div class="mt-4">
                <h2 class="text-lg font-bold">Sinukwan Festival</h2>
                <p class="text-gray-500 text-sm flex items-center">
                    <span class="material-icons text-gray-500 mr-1">place</span>
                    San Fernando City, Pampanga
                </p>
                
                <h3 class="mt-3 font-semibold">Description</h3>
                <p class="text-gray-700 text-sm mt-2">
                    The Sinukwan Festival is a vibrant annual celebration held in Pampanga, Philippines, honoring Aring Sinukwan, the Kapampangan deity of the sun and culture. Taking place every December, the festival features a series of lively street dances, traditional music performances, and various cultural events that highlight the province's rich heritage. Participants don colorful costumes and engage in performances that narrate historical and folkloric tales, fostering a deep sense of pride and unity among the Kapampangan people. The festival also showcases  local artistry, crafts, and cuisine, drawing both tourists and locals to partake in the festivities.

                </p>
            </div>
        </div>
    </div>
</body>
</html>