<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KapaLinga - Hot Air Balloon Fiesta</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="max-w-md mx-auto p-4  pt-20">
       

        <div class="fixed top-0 left-0 w-full ">
            <div class="flex items-center p-4 ">
                <a href="https://kapalinga-web-app.vercel.app/events/foodDelicacies">
                    <button class="text-gray-800 text-3xl">
                        <span class="material-icons">arrow_back</span>
                    </button>
                </a>
                <div class="flex-grow text-center text-orange-500 text-xl font-bold">KapaLinga</div>
            </div>
        </div>
        
        <div class="bg-white shadow-md rounded-2xl p-4 mt-4">
            <img src="/static/images/event/food_and_delicacies/tocino.jpg" alt="Sinukwan Festival" class="rounded-xl w-full h-60 object-cover">
            
            <div class="mt-4">
                <h2 class="text-lg font-bold">Pampanga’s Tocino</h2>
                <p class="text-gray-500 text-sm flex items-center">
                    Pampanga’s Delicacies
                </p>
                
                <h3 class="mt-3 font-semibold">Description</h3>
                <p class="text-gray-700 text-sm mt-2">
                    Known for its perfect balance of sweetness and savoriness, tocino is one of Pampanga’s most iconic cured pork dishes.
                    Marinated in a blend of sugar, salt, garlic, and annatto for its vibrant red color, it often includes pineapple juice or vinegar for a subtle tang.
                    This Kapampangan delicacy is pan-fried until caramelized, creating a slightly charred, flavorful crust. A beloved breakfast staple, it’s typically served with steamed rice and fried eggs, making it a favorite in Filipino households.


                </p>
            </div>
        </div>
    </div>
</body>
</html>