<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KapaLinga - Hot Air Balloon Fiesta</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="max-w-md mx-auto p-4  pt-20">
        <div class="fixed top-0 left-0 w-full ">
            <div class="flex items-center p-4 ">
                <a href="https://kapalinga-web-app.vercel.app/events">
                    <button class="text-gray-800 text-3xl">
                        <span class="material-icons">arrow_back</span>
                    </button>
                </a>
                <div class="flex-grow text-center text-orange-500 text-xl font-bold">KapaLinga</div>
            </div>
        </div>
        
        <div class="bg-white shadow-md rounded-2xl p-4 mt-4">
            <img src="/static/images/event/Discoveries/trad.jpeg" 
                 alt="Sinukwan Festival" 
                 class="rounded-xl w-full h-60 object-cover">
        
            <div class="mt-4">
                <h1 class="text-lg font-bold">Beliefs & Traditions </h1>
        
                <h3 class="mt-3 font-semibold">Description</h3>
        
                <div class="text-gray-700 text-sm mt-2 max-h-60 overflow-y-auto">
                    <p class="mb-3">
                        Faith, Rites,  and Cultural Heritage - Kapampangans are deeply religious, with a majority adhering to Roman Catholicism,
                        a faith introduced during Spanish colonization. This profound religiosity is evident in their elaborate festivals and rituals,
                        such as the Mal ay Aldo (Holy Week) observances, which include the chanting of the pasion and penitential
                        practices like self-flagellation and crucifixion reenactments. Despite the dominance of Christianity, traces of indigenous beliefs persist,
                        including the veneration of nature spirits and the use of traditional healing methods.

                    </p>
                    <p class="mt-2">
                        In Kapampangan culture, rites of passage are marked by specific customs and traditions.
                        For instance, during death and burial ceremonies, certain omens, known as aligawat,
                        are believed to foretell a person's passing. These signs can include dreams of losing a tooth or hearing a bell toll,
                        as well as the howling of dogs or the crowing of hens at night. Such beliefs underscore the Kapampangans'
                        deep connection to the spiritual realm and their reverence for life's significant milestones.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>