{% include 'header.html' %}



<div class="fixed top-0 left-0 w-full ">
    <div class="flex items-center p-4 ">
        <a href="https://kapalinga-web-app.vercel.app/learn">
            <button class="text-gray-800 text-3xl">
                <span class="material-icons">arrow_back</span>
            </button>
        </a>
        
        <div class="flex-grow text-center text-orange-500 text-xl font-bold">Common Phrases</div>
    </div>
</div>

<!-- Content Wrapper with Padding (to prevent overlap) -->
<div class="w-full max-w-md rounded-xl shadow-lg mt-16">
    <div class="overflow-y-auto max-h-[80vh] p-4 space-y-4">
            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Let's go</p>
                    <p class="text-gray-500">Tara na</p>
                    <p class="text-orange-500 font-bold">Tara na</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
               
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Let's go home</p>
                    <p class="text-gray-500">Umuwi na tayo</p>
                    <p class="text-orange-500 font-bold">Muli ta na</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">You can go/leave</p>
                    <p class="text-gray-500">Pwede ka nang umalis</p>
                    <p class="text-orange-500 font-bold">Mako na ka</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">What are you waiting for?</p>
                    <p class="text-gray-500">Ano ang hinihintay mo?</p>
                    <p class="text-orange-500 font-bold">Nanung panayan mu?</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">I'm here / We're here</p>
                    <p class="text-gray-500">Narito ako / Narito kami</p>
                    <p class="text-orange-500 font-bold">Atiu na ku / Atiu na kami</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Where are you going?</p>
                    <p class="text-gray-500">Saan ka pupunta?</p>
                    <p class="text-orange-500 font-bold">Nokarin ka munta?</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>
            
            <!-- Additional placeholder items to simulate long list -->
            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Where have you been?</p>
                    <p class="text-gray-500">Saan ka galing?</p>
                    <p class="text-orange-500 font-bold">Nokarin ka ibat?</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">I will buy this / that</p>
                    <p class="text-gray-500">Bibilhin ko ito / iyan</p>
                    <p class="text-orange-500 font-bold">Saliwan ke ini / ita</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>





            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">I like this / that</p>
                    <p class="text-gray-500">Gusto ko ito / iyan</p>
                    <p class="text-orange-500 font-bold">Buri ke ini / ita</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>








            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">What can i do for you?</p>
                    <p class="text-gray-500">Ano ang magagawa ko para sa Iyo?</p>
                    <p class="text-orange-500 font-bold">Nanu maliari kung daptan keka?</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>












            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">I will leave you</p>
                    <p class="text-gray-500">Iiwanan na kita</p>
                    <p class="text-orange-500 font-bold">Lakwan da ka</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>



            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Take care</p>
                    <p class="text-gray-500">Mag-ingat ka</p>
                    <p class="text-orange-500 font-bold">Mimingat ka</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>



            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Go here</p>
                    <p class="text-gray-500">Punta ka dito</p>
                    <p class="text-orange-500 font-bold">Mekeni</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>






            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Go there</p>
                    <p class="text-gray-500">Punta ka doon</p>
                    <p class="text-orange-500 font-bold">Munta ka Karin</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>










            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Yes</p>
                    <p class="text-gray-500">Oo</p>
                    <p class="text-orange-500 font-bold">Wa</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>













            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">No</p>
                    <p class="text-gray-500">Hindi</p>
                    <p class="text-orange-500 font-bold">Ali</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>











            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Stop</p>
                    <p class="text-gray-500">Hinto</p>
                    <p class="text-orange-500 font-bold">Tuknang</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>



            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Move</p>
                    <p class="text-gray-500">Galaw</p>
                    <p class="text-orange-500 font-bold">Galo</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>



            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Faster</p>
                    <p class="text-gray-500">Bilisan</p>
                    <p class="text-orange-500 font-bold">Lagwa</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>





            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Curse / Swear words</p>
                    <p class="text-gray-500">Masamang Salita</p>
                    <p class="text-orange-500 font-bold">Panagkas</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>








        </div>
    </div>

</body>
</html>
