{% include 'header.html' %}



<div class="fixed top-0 left-0 w-full ">
    <div class="flex items-center p-4 ">
        <button class="text-gray-800 text-3xl">
            <span class="material-icons">arrow_back</span>
        </button>
        <div class="flex-grow text-center text-orange-500 text-xl font-bold">Directions</div>
    </div>
</div>

<!-- Content Wrapper with Padding (to prevent overlap) -->
<div class="w-full max-w-md rounded-xl shadow-lg mt-16">
    <div class="overflow-y-auto max-h-[80vh] p-4 space-y-4">
            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Left</p>
                    <p class="text-gray-500">Kaliwa</p>
                    <p class="text-orange-500 font-bold">Kali</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
               
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Right</p>
                    <p class="text-gray-500">Kanan</p>
                    <p class="text-orange-500 font-bold">Wanan</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Straight</p>
                    <p class="text-gray-500">Diretso</p>
                    <p class="text-orange-500 font-bold">Diretso</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">In front of</p>
                    <p class="text-gray-500">Sa harap ng</p>
                    <p class="text-orange-500 font-bold">King arapan ning</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Behind</p>
                    <p class="text-gray-500">Sa likod ng</p>
                    <p class="text-orange-500 font-bold">King lugal ning</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Beside</p>
                    <p class="text-gray-500">Sa tabi ng</p>
                    <p class="text-orange-500 font-bold">King gilid ning</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>
            
            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Near</p>
                    <p class="text-gray-500">Malapit</p>
                    <p class="text-orange-500 font-bold">Malapit</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Far</p>
                    <p class="text-gray-500">Malayo</p>
                    <p class="text-orange-500 font-bold">Malagyu</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>


            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Here</p>
                    <p class="text-gray-500">Dito</p>
                    <p class="text-orange-500 font-bold">Keni</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>


            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">There</p>
                    <p class="text-gray-500">Doon</p>
                    <p class="text-orange-500 font-bold">Keta</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>


            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">North</p>
                    <p class="text-gray-500">Hilaga</p>
                    <p class="text-orange-500 font-bold">Amianan</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>
           
           
            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">South</p>
                    <p class="text-gray-500">Timog</p>
                    <p class="text-orange-500 font-bold">Abayatan</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>


            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">East</p>
                    <p class="text-gray-500">Silangan</p>
                    <p class="text-orange-500 font-bold">Aslagan</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>


            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">West</p>
                    <p class="text-gray-500">Kanluran</p>
                    <p class="text-orange-500 font-bold">Albugan</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            

        </div>
    </div>

</body>
</html>
