<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kapalinga Translator</title>


  <link rel="icon" href="/static/images/logo.png" type="image/x-icon"> 
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center ">


<div class="fixed top-0 left-0 w-full ">
    <div class="flex items-center p-4 ">
        <a href="https://kapalinga-web-app.vercel.app/learn">
            <button class="text-gray-800 text-3xl">
                <span class="material-icons">arrow_back</span>
            </button>
        </a>
        <div class="flex-grow text-center text-orange-500 text-xl font-bold">Transportation</div>
    </div>
</div>

<!-- Content Wrapper with Padding (to prevent overlap) -->
<div class="w-full max-w-md rounded-xl shadow-lg mt-16">
    <div class="overflow-y-auto max-h-[80vh] p-4 space-y-4">
            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Turn left</p>
                    <p class="text-gray-500">Lumiko ka sa kaliwa</p>
                    <p class="text-orange-500 font-bold">Magkayli ka</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
               
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Turn right</p>
                    <p class="text-gray-500">Lumiko ka sa kanan</p>
                    <p class="text-orange-500 font-bold">Magwanan ka</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Go straight ahead</p>
                    <p class="text-gray-500">Dumiretso ka lang</p>
                    <p class="text-orange-500 font-bold">Sumulung ka</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Stop here, please.</p>
                    <p class="text-gray-500">Para dito, pakiusap</p>
                    <p class="text-orange-500 font-bold">Para keni, pakisuyu</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">How long will trip take?</p>
                    <p class="text-gray-500">Gaano katagal ang biyahe?</p>
                    <p class="text-orange-500 font-bold">Pilan oras ing biyahe</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">Where does this stop?</p>
                    <p class="text-gray-500">Saan ito humihinto?</p>
                    <p class="text-orange-500 font-bold">Nukarin ya tumuknang ini?</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>
            
            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">How many minutes to get there?</p>
                    <p class="text-gray-500">Ilang minuto ang byahe papunta doon?</p>
                    <p class="text-orange-500 font-bold">Pilan minuto ing byahe papunta karin?</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">What's the last trip?</p>
                    <p class="text-gray-500">Kailan ang huling byahe?</p>
                    <p class="text-orange-500 font-bold">Ngeni ing panlibat a byahe?</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>


            <div class="bg-white p-4 rounded-xl shadow-md flex justify-between items-center">
                <div>
                    <p class="font-semibold text-gray-800">I need a ride</p>
                    <p class="text-gray-500">Kailangan ko ng masasakyan</p>
                    <p class="text-orange-500 font-bold">Kailangan ku saling sakay</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-800"> <div class="w-3 mb-6 h-3 bg-orange-500 rounded-full"></div></p>
                    <p class="text-gray-500"> <div class="w-3 h-3"></div></p>
                    <p class="text-orange-500 font-bold"> <div class="w-3 h-3"></div></p>
                </div>
            </div>


            
            

        </div>
    </div>

</body>
</html>
