<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kapalinga Translator</title>

  <link rel="stylesheet" href="/static/css/events.css">
  <link rel="icon" href="/static/images/logo.png" type="image/x-icon"> 
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<style>
  @font-face {
    font-family: 'Freigeist Black';
    src: url('/static/font/FreigeistMonoBlack.woff') format('woff2'),
         url('/static/font/FreigeistMonoBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .font-freigeist {
    font-family: 'Freigeist Black', sans-serif;
  }
</style>



<div class="header">
  KapaLinga
</div>

<div class="main-container">


<!-- Section: Things to Do -->
<div class="subheader">
  <p>Things to do in</p>
  <p>Pampanga</p>
</div>
<!-- Image Categories Section -->
<div class="scroll-container">
  <a href="/events">
    <div class="scroll-item">
      <img src="/static/images/event/discover.png" alt="Festivals" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Discoveries</p>
    </div>
  </a>
  
  <a href="/events/eventFestival">
    <div class="scroll-item">
      <img src="/static/images/event/eventFestival.jpg" alt="Food & Delicacies" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Events and festival</p>
    </div>
  </a>
  
  <a href="/events/foodDelicacies">
    <div class="scroll-item">
      <img src="/static/images/event/foodDeli.png" alt="Tourist Attractions" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Food and delicacies</p>
    </div>
  </a>
  
  <a href="/events/tourist">
    <div class="scroll-item">
      <img src="/static/images/event/tourist.jpeg" alt="Tourist Attractions" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Tourist Attractions</p>
    </div>
  </a>
</div>



<!-- Discoveries Section -->
<div class="content-section">
  <h2>Discoveries</h2>
  <div class="vertical-scroll-container">
      <div class="content-card">
          <img src="/static/images/106x100_outside/Culinary.png" alt="Culinary">
          <div class="card-text">
              <h3>Culinary Capital of the Philippines</h3>
          </div>
      </div>
      <div class="content-card">
          <img src="/static/images/106x100_outside/History.png" alt="History">
          <div class="card-text">
              <h3>Brief History of Pampanga</h3>
              
          </div>
      </div>
      <div class="content-card">
          <img src="/static/images/106x100_outside/Beliefs.png" alt="Beliefs">
          <div class="card-text">
              <h3>Beliefs & Traditions</h3>
          </div>
      </div>
      </div>
  </div>
</div>






</div>

<div class="nav">
    <a href="/" >
        <img src="/static/images/home.svg" alt="Home" class="icon">
        Home
    </a>
    <a href="/learn" >
        <img src="/static/images/learn.svg" alt="Learn" class="icon">
        Learn
    </a>
    <a href="/events" class="active">
        <img src="/static/images/events.png" alt="Events" class="icon">
        Events
    </a>
</div>
{% include 'footer.html' %}
<script src="/static/js/scroll.js"></script>