<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KapaLinga Web</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="header">
        <img src="img/logo.png" alt="" class="logo">
        KapaLinga
    </div>

    <div class="language-select">
        <select>
            <option>Tagalog</option>
            <option>English</option>
        </select>
        <span class="swap">↔</span>
        <select>
            <option>Kapampangan</option>
        </select>
    </div>

    <div class="input-container">
        <textarea placeholder="Type Here..."></textarea>
        <img src="listen.svg" alt="Voice Input" class="voice-input">
    </div>

    <div class="input-container output-container">
        <textarea readonly></textarea>
        <button class="listen-button">🔊</button>
    </div>

    <div class="button-container">
        <button>Translate</button>
        <button>Clear</button>
    </div>

    <div class="nav">
        <a href="kapalinga.html" class="active">
            <img src="home.svg" alt="Home" class="icon">
            Home
        </a>
        <a href="learn.html">
            <img src="learn.svg" alt="Learn" class="icon">
            Learn
        </a>
        <a href="events.html">
            <img src="events.png" alt="Events" class="icon">
            Events
        </a>
    </div>
</body>
</html>