<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kapalinga Translator</title>

  <link rel="stylesheet" href="/static/css/learn.css">
  <link rel="icon" href="/static/images/logo.png" type="image/x-icon"> 
 <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>



    <div class="header" style="padding: 20px;">
        <span class="header-title">KapaLinga</span>
    </div>
    

<div class="main-container">

<div class="max-w-md w-full p-8  rounded-2xl pb-20">



    
    <h1 class="text-3xl text-left font-bold text-orange-500">What would you like to learn today?</h1>

    <div class="mt-4 text-left">
        <span class="bg-orange-100  text-orange-700 text-sm px-4 py-2 rounded-full shadow-sm">Common Words & Phrase Lists</span>
    </div>

    <div class="grid text-center grid-cols-3 gap-4 mt-8">
       

        <a href="https://kapalinga-web-app.vercel.app/learn/common_phrase" class="group">
            <div class="bg-gray-800 text-orange-500 p-6 rounded-xl flex flex-col items-center shadow-md transition-all group-hover:bg-orange-500 group-hover:text-white">
                <img src="/static/images/learn/Orange_Color/common.png" alt="Chat Icon" class="w-10 h-10 group-hover:hidden">
                <img src="/static/images/learn/Black_Color/speech-bubble_7647407.png" alt="Chat Icon" class="w-10 h-10 hidden group-hover:block">
            </div>
            <p class="mt-3 text-xs font-semibold text-orange-500">COMMON PHRASES</p>
        </a>
        
        

        

        <a href="https://kapalinga-web-app.vercel.app/learn/greetings" class="group">
            <div class="bg-gray-800 text-orange-500 p-6 rounded-xl flex flex-col items-center shadow-md transition-all group-hover:bg-orange-500 group-hover:text-white">
                <img src="/static/images/learn/Orange_Color/Greet.png" alt="Chat Icon" class="w-10 h-10 group-hover:hidden">
                <img src="/static/images/learn/Black_Color/business_15121124.png" alt="Chat Icon" class="w-10 h-10 hidden group-hover:block">
            </div>
            <p class="mt-3 text-xs font-semibold text-orange-500">GREETINGS</p>
        </a>


        <a href="https://kapalinga-web-app.vercel.app/learn/directions" class="group">
            <div class="bg-gray-800 text-orange-500 p-6 rounded-xl flex flex-col items-center shadow-md transition-all group-hover:bg-orange-500 group-hover:text-white">
                <img src="/static/images/learn/Orange_Color/loc.png" alt="Chat Icon" class="w-10 h-10 group-hover:hidden">
                <img src="/static/images/learn/Black_Color/map_13653818.png" alt="Chat Icon" class="w-10 h-10 hidden group-hover:block">
            </div>
            <p class="mt-3 text-xs font-semibold text-orange-500">DIRECTION</p>
        </a>


       

        <a href="https://kapalinga-web-app.vercel.app/learn/transporation" class="group">
            <div class="bg-gray-800 text-orange-500 p-6 rounded-xl flex flex-col items-center shadow-md transition-all group-hover:bg-orange-500 group-hover:text-white">
                <img src="/static/images/learn/Orange_Color/transpo.png" alt="Chat Icon" class="w-10 h-10 group-hover:hidden">
                <img src="/static/images/learn/Black_Color/transportation_18146609.png" alt="Chat Icon" class="w-10 h-10 hidden group-hover:block">
            </div>
            <p class="mt-3 text-xs font-semibold text-orange-500">TRANSPORTATION</p>
        </a>



       

        <a href="https://kapalinga-web-app.vercel.app/learn/eating" class="group">
            <div class="bg-gray-800 text-orange-500 p-6 rounded-xl flex flex-col items-center shadow-md transition-all group-hover:bg-orange-500 group-hover:text-white">
                <img src="/static/images/learn/Orange_Color/eat.png" alt="Chat Icon" class="w-10 h-10 group-hover:hidden">
                <img src="/static/images/learn/Black_Color/meal_4416884.png" alt="Chat Icon" class="w-10 h-10 hidden group-hover:block">
            </div>
            <p class="mt-3 text-xs font-semibold text-orange-500">EATING</p>
        </a>


        <a href="https://kapalinga-web-app.vercel.app/learn/emergency" class="group">
            <div class="bg-gray-800 text-orange-500 p-6 rounded-xl flex flex-col items-center shadow-md transition-all group-hover:bg-orange-500 group-hover:text-white">
                <img src="/static/images/learn/Orange_Color/Emer.png" alt="Chat Icon" class="w-10 h-10 group-hover:hidden">
                <img src="/static/images/learn/Black_Color/urgent_2471009.png" alt="Chat Icon" class="w-10 h-10 hidden group-hover:block">
            </div>
            <p class="mt-3 text-xs font-semibold text-orange-500">EMERGENCY</p>
        </a>

        <a href="https://kapalinga-web-app.vercel.app/learn/numbers" class="group">
            <div class="bg-gray-800 text-orange-500 p-6 rounded-xl flex flex-col items-center shadow-md transition-all group-hover:bg-orange-500 group-hover:text-white">
                <img src="/static/images/learn/Orange_Color/num.png" alt="Chat Icon" class="w-10 h-10 group-hover:hidden">
                <img src="/static/images/learn/Black_Color/cubes-stack_3313622.png" alt="Chat Icon" class="w-10 h-10 hidden group-hover:block">
            </div>
            <p class="mt-3 text-xs font-semibold text-orange-500">NUMBERS</p>
        </a>

   

        <a href="https://kapalinga-web-app.vercel.app/learn/shopping" class="group">
            <div class="bg-gray-800 text-orange-500 p-6 rounded-xl flex flex-col items-center shadow-md transition-all group-hover:bg-orange-500 group-hover:text-white">
                <img src="/static/images/learn/Orange_Color/shopping.png" alt="Chat Icon" class="w-10 h-10 group-hover:hidden">
                <img src="/static/images/learn/Black_Color/shopping-cart_5733696.png" alt="Chat Icon" class="w-10 h-10 hidden group-hover:block">
            </div>
            <p class="mt-3 text-xs font-semibold text-orange-500">SHOPPING</p>
        </a>


        <a href="https://kapalinga-web-app.vercel.app/learn/dateTime" class="group">
            <div class="bg-gray-800 text-orange-500 p-6 rounded-xl flex flex-col items-center shadow-md transition-all group-hover:bg-orange-500 group-hover:text-white">
                <img src="/static/images/learn/Orange_Color/dateTime.png" alt="Chat Icon" class="w-10 h-10 group-hover:hidden">
                <img src="/static/images/learn/Black_Color/calendar_11815712.png" alt="Chat Icon" class="w-10 h-10 hidden group-hover:block">
            </div>
            <p class="mt-3 text-xs font-semibold text-orange-500">DATE & TIME</p>
        </a>

        
    </div>
</div>











</div>

<div class="nav">
    <a href="/" >
        <img src="/static/images/home.svg" alt="Home" class="icon">
        Home
    </a>
    <a href="/learn" class="active">
        <img src="/static/images/learn.svg" alt="Learn" class="icon">
        Learn
    </a>
    <a href="/events">
        <img src="/static/images/events.png" alt="Events" class="icon">
        Events
    </a>
</div>


{% include 'footer.html' %}
