{% include 'header.html' %}

<div class="header">
    <span class="header-title">KapaLinga</span>
  
</div>
<div class="main-container">





   
    <!-- <div class="language-select">
            <select id="language1" class="block w-full bg-gray-100 border border-orange-300 rounded-2xl py-2 px-4 focus:outline-none focus:ring focus:border-orange-400">
                <option>English</option>
                <option>Tagalog</option>
                <option>Kapampangan</option>
            </select>
        </div> -->
        <div class="language-select">
            <select id="language1">
                <option>English</option>
                <option>Tagalog</option>
                <option>Kapampangan</option>
            </select>
            <span id="swapBtn" class="swap">↔</span>
            <select id="language2">
                <option>Kapampangan</option>
                <option>English</option>
                <option>Tagalog</option>
            </select>
        </div>
      

      
    

    <!-- Input and Output Text Areas -->
        <div class="input-container">
            <textarea id="inputText" placeholder="Type Here..."></textarea>
        
        
                <i id="micIcon" class="fa fa-microphone-slash text-xl voice-input"></i>

        </div>
       


        <div class="input-container output-container">
            <textarea id="translatedText" readonly>Translated text will appear here...</textarea>
            <button id="listenBtn" class="listen-button">🔊</button>
        </div>
        

    <!-- Translate and Clear Buttons -->
    <div class="flex items-center justify-center mt-6 space-x-4">
        <button id="translateBtn" class="bg-gray-100 border border-orange-300  py-2 px-4 rounded-2xl hover:bg-gray-600 transition">
            Translate
        </button>
        <button id="clearBtn" class="bg-gray-100 border border-orange-300  py-2 px-4 rounded-2xl hover:bg-gray-600 transition">
            Clear
        </button>
    </div>

 



</div>

<div class="nav">
    <a href="kapalinga.html">
        <img src="/static/images/home.svg" alt="Home" class="icon">
        Home
    </a>
    <a href="learn.html" class="active">
        <img src="/static/images/learn.svg" alt="Learn" class="icon">
        Learn
    </a>
    <a href="events.html">
        <img src="/static/images/events.png" alt="Events" class="icon">
        Events
    </a>
</div>


{% include 'footer.html' %}



<script src="/static/js/mic_controller.js"></script>
<script src="/static/js/listen_controller.js"></script>
