<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kapalinga Translator</title>

  <link rel="stylesheet" href="/static/css/events.css">
  <link rel="icon" href="/static/images/logo.png" type="image/x-icon"> 
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<style>
  @font-face {
    font-family: 'Freigeist Black';
    src: url('/static/font/FreigeistMonoBlack.woff') format('woff2'),
         url('/static/font/FreigeistMonoBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .font-freigeist {
    font-family: 'Freigeist Black', sans-serif;
  }
</style>



<div class="header">
  KapaLinga
</div>

<div class="main-container">


<!-- Section: Things to Do -->
<div class="subheader">
  <p>Things to do in</p>
  <p>Pampanga</p>
</div>
<!-- Image Categories Section -->
<div class="scroll-container">
  <a href="/events">
    <div class="scroll-item">
      <img src="/static/images/event/discover.png" alt="Festivals" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Discoveries</p>
    </div>
  </a>
  
  <a href="/events/eventFestival">
    <div class="scroll-item">
      <img src="/static/images/event/eventFestival.jpg" alt="Food & Delicacies" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Events and festival</p>
    </div>
  </a>
  
  <a href="/events/foodDelicacies">
    <div class="scroll-item">
      <img src="/static/images/event/foodDeli.png" alt="Tourist Attractions" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Food and delicacies</p>
    </div>
  </a>
  
  <a href="/events/tourist">
    <div class="scroll-item">
      <img src="/static/images/event/tourist.jpeg" alt="Tourist Attractions" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Tourist Attractions</p>
    </div>
  </a>
</div>


  <div class="content-section">
    <h2>Events & Festivals</h2>
    <div class="vertical-scroll-container">
      
     
      <div class="content-card" onclick="location.href='/events/view/Hot_Air_Balloon_Festival'" style="cursor: pointer;">
    
            <img src="/static/images/106x100_outside/hot_air_balloon.png" alt="Culinary">
            <div class="card-text">
                <p>Hot Air Balloon Festival</p>
                  <p>(February 16-18)</p>
                  <p>Clark, Freeport Zone</p>
            </div>
        </div>
    

        <div class="content-card" onclick="location.href='/events/view/giant_lantern_festival_history'" style="cursor: pointer;">
            <img src="/static/images/106x100_outside/giant_lantern.png" >
            <div class="card-text">
                <p>Giant Lantern Festival</p>
                <p>(Dec 14 - Jan 1)</p>
                <p>Clark, Freeport Zone</p>
                
            </div>
        </div>

        <!-- /events/view/aurora -->
        <div class="content-card" onclick="location.href='/events/view/auroraFestival'" style="cursor: pointer;">
            <img src="/static/images/106x100_outside/aurora.png" alt="Beliefs">
            <div class="card-text">
                <p>Aurora Music Festival</p>
                <p>(April - May)</p>
                <p>Clark Global City, Pampanga</p>
            </div>
        </div>


       <div class="content-card" onclick="location.href='/events/view/SinukwanFestival'" style="cursor: pointer;">
            <img src="/static/images/106x100_outside/sinukwan.png" alt="Beliefs">
            <div class="card-text">
                <p>Sinukwan Festival</p>
                <p>(December)</p>
                <p>San Fernando City, Pampanga</p>
            </div>
        </div>

        <div class="content-card" onclick="location.href='/events/view/cruxiFestival'" style="cursor: pointer;">
            <img src="/static/images/106x100_outside/Cruxi.png" alt="Beliefs">
            <div class="card-text">
                <p>Good Friday Crucifixions</p>
                <p>Tourist Attraction during Holy week (Good Friday)</p>
                <p>Barangay San Pedro Cutud, San Fernando, Pampanga</p>
            </div>
        </div>
        </div>
    </div>
  </div>








</div>

<div class="nav">
    <a href="/" >
        <img src="/static/images/home.svg" alt="Home" class="icon">
        Home
    </a>
    <a href="/learn" >
        <img src="/static/images/learn.svg" alt="Learn" class="icon">
        Learn
    </a>
    <a href="/events" class="active">
        <img src="/static/images/events.png" alt="Events" class="icon">
        Events
    </a>
</div>
{% include 'footer.html' %}
<script src="/static/js/scroll.js"></script>