<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kapalinga Translator</title>

  <link rel="stylesheet" href="/static/css/events.css">
  <link rel="icon" href="/static/images/logo.png" type="image/x-icon"> 
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<style>
  @font-face {
    font-family: 'Freigeist Black';
    src: url('/static/font/FreigeistMonoBlack.woff') format('woff2'),
         url('/static/font/FreigeistMonoBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .font-freigeist {
    font-family: 'Freigeist Black', sans-serif;
  }
</style>



<div class="header">
  KapaLinga
</div>

<div class="main-container">


<!-- Section: Things to Do -->
<div class="subheader">
  <p>Things to do in</p>
  <p>Pampanga</p>
</div>
<!-- Image Categories Section -->
<div class="scroll-container">
  <a href="/events">
    <div class="scroll-item">
      <img src="/static/images/event/discover.png" alt="Festivals" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Discoveries</p>
    </div>
  </a>
  
  <a href="/events/eventFestival">
    <div class="scroll-item">
      <img src="/static/images/event/eventFestival.jpg" alt="Food & Delicacies" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Events and festival</p>
    </div>
  </a>
  
  <a href="/events/foodDelicacies">
    <div class="scroll-item">
      <img src="/static/images/event/foodDeli.png" alt="Tourist Attractions" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Food and delicacies</p>
    </div>
  </a>
  
  <a href="/events/tourist">
    <div class="scroll-item">
      <img src="/static/images/event/tourist.jpeg" alt="Tourist Attractions" class="w-full h-24 rounded-lg">
      <p class="text-center text-xs">Tourist Attractions</p>
    </div>
  </a>
</div>



<!-- 
<h2 class="mt-6 text-lg font-bold border-t pt-4">Food & Delicacies</h2>


<div class="space-y-3 mt-3 max-h-80 overflow-y-auto">
  <a href="https://kapalinga-web-app.vercel.app/events/view/Tidtad">
    <div class="flex items-center bg-gray-800 text-white p-4 rounded-xl shadow-md mt-3 mb-3">
      
        <img src="/static/images/106x100_outside/tidtad.png" 
            alt="Tidtad" 
            class="w-32 h-20 rounded-lg object-cover border-2 border-gray-500 flex-shrink-0">
        
        <div class="flex-1 min-w-0 text-center">
            <p class="text-lg font-bold break-words">Tidtad</p>
            <p class="text-sm text-gray-300 break-words">Pampanga's Delicacies</p>
        </div>
    </div>
  </a>


   <a href="https://kapalinga-web-app.vercel.app/events/view/tocino">
      <div class="flex items-center bg-gray-800 text-white p-4 rounded-xl shadow-md mt-3 mb-3">
        
          <img src="/static/images/106x100_outside/tocino.png" 
              alt="Tocino" 
              class="w-32 h-20 rounded-lg object-cover border-2 border-gray-500 flex-shrink-0">
          
          <div class="flex-1 min-w-0 text-center">
              <p class="text-lg font-bold break-words">Pampanga's Tocino</p>
              <p class="text-sm text-gray-300 break-words">Pampanga's Delicacies</p>
          </div>
      </div>
    </a>

    <a href="https://kapalinga-web-app.vercel.app/events/view/pampangasisig">
        <div class="flex items-center bg-gray-800 text-white p-4 rounded-xl shadow-md mt-3 mb-3">
   
          <img src="/static/images/106x100_outside/sisig.png" 
              alt="Sisig" 
              class="w-32 h-20 rounded-lg object-cover border-2 border-gray-500 flex-shrink-0">
          
          <div class="flex-1 min-w-0 text-center">
              <p class="text-lg font-bold break-words">Pampanga's Sisig</p>
              <p class="text-sm text-gray-300 break-words">Pampanga's Delicacies</p>
          </div>
      </div>
    </a>

    <a href="https://kapalinga-web-app.vercel.app/events/view/RazonsHaloHalo">
      <div class="flex items-center bg-gray-800 text-white p-4 rounded-xl shadow-md mt-3 mb-3">
         
          <img src="/static/images/106x100_outside/razon.png" 
              alt="Razon's Halo-Halo" 
              class="w-32 h-20 rounded-lg object-cover border-2 border-gray-500 flex-shrink-0">
          
        
          <div class="flex-1 min-w-0 text-center">
              <p class="text-lg font-bold break-words">Razon's Halo-Halo</p>
              <p class="text-sm text-gray-300 break-words">Pampanga's Delicacies</p>
          </div>
      </div>
    </a>


    <a href="https://kapalinga-web-app.vercel.app/events/view/bringhe">
      <div class="flex items-center bg-gray-800 text-white p-4 rounded-xl shadow-md mt-3 mb-3">
         
          <img src="/static/images/106x100_outside/bringhe.png" 
              alt="Bringhe" 
              class="w-32 h-20 rounded-lg object-cover border-2 border-gray-500 flex-shrink-0">
          
         
          <div class="flex-1 min-w-0 text-center">
              <p class="text-lg font-bold break-words">Bringhe</p>
              <p class="text-sm text-gray-300 break-words">Pampanga's Delicacies</p>
          </div>
      </div>
    </a>

    <a href="https://kapalinga-web-app.vercel.app/events/view/buro">
      <div class="flex items-center bg-gray-800 text-white p-4 rounded-xl shadow-md mt-3 mb-3">
          
          <img src="/static/images/106x100_outside/buro.png" 
              alt="Buro" 
              class="w-32 h-20 rounded-lg object-cover border-2 border-gray-500 flex-shrink-0">
        
          <div class="flex-1 min-w-0 text-center">
              <p class="text-lg font-bold break-words">Buro</p>
              <p class="text-sm text-gray-300 break-words">Pampanga's Delicacies</p>
          </div>
      </div>
    </a>


    <a href="https://kapalinga-web-app.vercel.app/events/view/pancit_luglug">
      <div class="flex items-center bg-gray-800 text-white p-4 rounded-xl shadow-md mt-3 mb-3">
          
          <img src="/static/images/106x100_outside/pancit_luglug.png" 
              alt="Pancit Luglug" 
              class="w-32 h-20 rounded-lg object-cover border-2 border-gray-500 flex-shrink-0">
          
       
          <div class="flex-1 min-w-0 text-center">
              <p class="text-lg font-bold break-words">Pancit Luglug</p>
              <p class="text-sm text-gray-300 break-words">Pampanga's Delicacies</p>
          </div>
      </div>
    
    </a>
</div> -->

<div class="content-section">
  <h2>Food & Delicacies</h2>
  <div class="vertical-scroll-container">
    
   
    <div class="content-card" onclick="location.href='/events/view/Tidtad'" style="cursor: pointer;">
  
          <img src="/static/images/106x100_outside/tidtad.png" alt="Culinary">
          <div class="card-text">
              <p>Tidtad</p>
                <p>Pampanga's Delicacies</p>
          </div>
      </div>
  

      <div class="content-card" onclick="location.href='/events/view/tocino'" style="cursor: pointer;">
          <img src="/static/images/106x100_outside/tocino.png" >
          <div class="card-text">
              <p>Pampanga's Tocino</p>
              <p>Pampanga's Delicacies</p>
              
          </div>
      </div>

      <!-- /events/view/aurora -->
      <div class="content-card" onclick="location.href='/events/view/pampangasisig'" style="cursor: pointer;">
          <img src="/static/images/106x100_outside/sisig.png" alt="Beliefs">
          <div class="card-text">
              <p>Pampanga's Sisig</p>
              <p>Pampanga's Delicacies</p>
          </div>
      </div>


     <div class="content-card" onclick="location.href='/events/view/RazonsHaloHalo'" style="cursor: pointer;">
          <img src="/static/images/106x100_outside/razon.png" alt="Beliefs">
          <div class="card-text">
              <p>Razon's Halo-Halo</p>
              <p>Pampanga's Delicacies</p>
          </div>
      </div>

      <div class="content-card" onclick="location.href='/events/view/bringhe'" style="cursor: pointer;">
          <img src="/static/images/106x100_outside/bringhe.png" alt="Beliefs">
          <div class="card-text">
              <p>Bringhe</p>
              <p>Pampanga's Delicacies</p>
          </div>
      </div>
      
      <div class="content-card" onclick="location.href='/events/view/buro'" style="cursor: pointer;">
          <img src="/static/images/106x100_outside/buro.png" alt="Beliefs">
          <div class="card-text">
              <p>Buro</p>
              <p>Pampanga's Delicacies</p>
          </div>
      </div>
      
      <div class="content-card" onclick="location.href='/events/view/pancit_luglug'" style="cursor: pointer;">
          <img src="/static/images/106x100_outside/pancit_luglug.png" alt="Beliefs">
          <div class="card-text">
              <p>Pancit Luglug</p>
              <p>Pampanga's Delicacies</p>
          </div>
      </div>


      </div>
  </div>
</div>






</div>

<div class="nav">
    <a href="/" >
        <img src="/static/images/home.svg" alt="Home" class="icon">
        Home
    </a>
    <a href="/learn" >
        <img src="/static/images/learn.svg" alt="Learn" class="icon">
        Learn
    </a>
    <a href="/events" class="active">
        <img src="/static/images/events.png" alt="Events" class="icon">
        Events
    </a>
</div>
{% include 'footer.html' %}
<script src="/static/js/scroll.js"></script>